<!DOCTYPE html>
{% load static %}

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %} QR Generador {% endblock title %}</title>
    <link rel="stylesheet" href="{% static "css/style.css" %}?{% now "U" %}">
    {% block head %}{% endblock head %}
  </head>
  <body>
    <nav class="navbar">
      <h1 class="h1-main">Qr Gen</h1>
      <a href="/">Inicio</a>
      <a href="/about">Sobre nosotros</a>
      {% if user.is_authenticated %}
      <a href="/qr">Mis Qrs</a>
      <a href="{% url "users:account" %}">Cuenta</a>
      <!-- Navbar para usuarios autenticados -->
      <a class="navbar-btn-m" href="{% url 'users:logout' %}">Cerrar sesión</a>
      {% else %}
      <a class="navbar-btn-m" href="{% url 'users:login' %}">Iniciar sesión</a>
      <a class="navbar-btn-m" href="{% url 'users:register' %}">Registrarse</a>
      {% endif %}
    </nav>

    <main>{% block content %}{% endblock content %}</main>
    <footer>
      <div class="footer">
        <div class="footer-column"></div>
        <div class="footer-column"></div>
        <div class="footer-column"></div>
        {% comment %} <h5 class="footer-title">
          Qr Gen
        </h5> {% endcomment %}
      </div>
    </footer>
  </body>
</html>
