<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %} QR Generador {% endblock title %}</title>
    <link rel="stylesheet" href="{% static "css/style.css" %}?{% now "U" %}">
  </head>
  <body>
    <nav class="navbar">
      <a href="/">Inicio</a>
      <a href="/about">Sobre nosotros</a>
      {% if user.is_authenticated %}
      <a href="/qr">Mis Qrs</a>
      <a href="/acount">Cuenta</a>
      <!-- Navbar para usuarios autenticados -->
      <a href="/logout">Cerrar sesión</a>
      {% else %}
      <a class="navbar-btn-m" href="{% url 'users:login' %}">Iniciar sesión</a>
      <a class="navbar-btn-m" href="{% url 'users:register' %}">Registrarse</a>
      {% endif %}
    </nav>

    <main>{% block content %}{% endblock content %}</main>
  </body>
</html>
