* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
  overflow-x: hidden;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body {
  background-color: black;
  padding-bottom: 20px;
}

.navbar {
  width: 100vw;
  display: flex;
  justify-content: right;
  align-items: center;
  padding: 0 5vw;
  gap: 3vw;
  height: 8vh;
  min-height: 50px;
  box-shadow: 0.3px 0.2px 0.4px #fff;
  z-index: 1000;
}
.h1-main {
  font-size: 24px;
  position: absolute;
  left: 20px;
}
a {
  text-decoration: none;
  font-size: 1rem;
}
a:hover {
  cursor: default;
  text-decoration: 0.2px underline #fff;
}

a:visited {
  color: inherit;
}

.bg-image {
  min-height: 300px;
  height: 60vh;
  display: flex;
  align-items: center;
  background: linear-gradient(to bottom, yellow, #fc0, blue);
  overflow: hidden;
  position: relative;
}
.bg-image-img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.h2-title {
  font-size: 32px;
  z-index: 100;
  width: 40vw;
  margin: 0 5vw;
  padding: 5px;
  font-variant: small-caps;
  cursor: default;
  text-shadow: 0 4px 10px #000;
}

/* Cards */
.cards-container {
  display: flex;
  flex-wrap: wrap;
  gap: 2vw;
  padding: 2vw;
  justify-content: center;
  margin-top: 5vh;
  margin-bottom: 5vh;
}
.card {
  width: 30vw;
  min-width: 250px;
  min-height: 200px;
  border-radius: 10px;
  background-color: #ffffff4a;
  min-height: 300px;
  height: 30vh;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

i {
  font-size: 64px;
  padding: 10px;
}

.navbar-btn-m {
  padding: 0.2rem;
  border-radius: 0.4rem;
  outline: 1px solid #fff;
}
.navbar-btn-m:hover {
  background-color: #333;
  gap: 1px;
  text-decoration: none;
}
/* form */
.form-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 90vh;
}
form {
  background-color: #999;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 400px;
  min-height: 300px;
  max-height: 500px;
  padding: 30px;
  border-radius: 5%;
  box-shadow: 10px 10px 30px 4px #fff;
  margin-top: 20px;
  margin-bottom: 20px;
}
form div {
  width: 100%;
}
form ul li {
  display: none;
}
.helptext {
  font-size: 12px;
  color: #000;
}
form label {
  font-size: 18px;
  font-weight: bold;
}
input {
  color: #000;
  background-color: transparent;
  border: none;
  border-bottom: 0.5px solid #000;
  width: 100%;
}
textarea {
  width: 100%;
  border: none;
  border-bottom: 0.5px solid #000;
  max-height: 60px;
  resize: none;
  color: black;
  background-color: transparent;
}

input:focus,
textarea:focus {
  outline: none;
}
button {
  background-color: #333;
  padding: 5px;
  margin: 9%;
  width: 80%;
  max-height: 50px;
  max-width: 100px;
  border-radius: 8px;
  box-shadow: 0 1px 2px #fff;
}

/* footer */
.footer {
  border-top: 0.2px solid #fff;
  min-height: 200px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}
.footer-column {
  background-color: #fc0;
}
.footer-title {
  font-size: 18px;
}
/* qrs */
.main-qr {
  min-height: 500px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 20px;
  gap: 5px;
  min-height: 100vh;
  flex-direction: row;
}
.main-qr-h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  padding: 0;
  width: 100%;
}
.main-qr-header {
  width: 100vw;
  max-height: 100px;
  display: flex;
  align-items: center;
  flex-direction: row;
  /* overflow: hidden; */
  padding: 10px 20px;
}
.main-qr-header-container {
  width: 40%;
  font-size: 32px;
  display: flex;
  align-items: center;
}
.main-qr-header-h1 {
  font-size: 32px;
  position: absolute;
  left: 20px;
}

.btn-container {
  min-width: 100px;
  display: flex;
  align-items: center;
  height: 100%;
  padding-top: 10px;
}
@media screen and (min-width: 768px) {
  .bg-image-img {
    padding-left: 15vw;
  }
  .h2-title {
    font-size: 48px;
  }
}
@media screen and (max-width: 500px) {
  .bg-image-img {
    padding-left: 0vw;
    padding-right: 10vw;
  }
  .h2-title {
    padding-left: 5vw;
  }
  .card {
    width: 80vw;
  }
}
